@{
    ViewData["Title"] = "Erreur de pays";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div style="text-align: center; padding: 20px;">
    <h2>Erreur de pays</h2>
    
    <p>
        Si le pays n'existe pas, c'est probablement parce qu'il est hors de notre portée interplanétaire !
    </p>
    <img src="https://cdn.create.vista.com/api/media/small/575834590/stock-vector-cute-astronaut-themed-vector-design-suitable-children-book-cover" style="max-width: 300px; margin-top: 20px;" />
   <br>
        <a href="javascript:history.back()">Retour</a>
    </p>
</div>