@{
    ViewData["Title"] = "Agent inconnu";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div style="text-align: center; padding: 20px;">
    <h2>Imposteur!</h2>
    
    <p>
        Nous n'avons pas d'agent avec votre ID.
    </p>
    <img src="https://cdn.pixabay.com/photo/2021/01/27/02/22/among-us-5953355_960_720.png" style="max-width: 200px; margin-top: 20px;" />
   <br>
        <a href="javascript:history.back()">Retour</a>
    </p>
</div>