@{
    ViewData["Title"] = "Erreur de pays";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div style="text-align: center; padding: 20px;">
    <h2>Aucun résultat</h2>
    
    <p>
        Oops ! Apparemment, nous n'avons pas pu trouver de robots dangereux dans ce pays. Les robots méchants sont en vacances !   
    </p>
    <img src="https://i.redd.it/snoovatar/avatars/9ca913d0-ccb0-4842-b2a5-39403b48a532.png" style="max-width: 200px; margin-top: 20px;" />
   <br>
        <a href="javascript:history.back()">Retour</a>
    </p>
</div>