@model List<WantedRobots.Models.Agent>


<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: #b5b5b5;
            background-size: cover;
            background-position: center;
            margin: 0;
            justify-content: center;
            align-items: center;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .card {
            width: calc(25% - 10px);
            margin-bottom: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }


        .card-img-top {
            width: 50%;
            margin: auto;
        }


        .card-img {
            width: 60%;
        }
    </style>
</head>




<div class="card-container">
    @foreach (var agent in Model)
    {
        <div class="card text-center mx-auto">
            <iframe class="card-img-top" src="https://good-hawk-21.deno.dev/@agent.Nom"></iframe>
            <div class="card-body">
                <img class="card-img"
                    src="https://www.ahabusinessconsulting.com/wp-content/uploads/2014/05/SS-LOGO-Certified-Agent-Grayscale-2-300x302.png">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ID : </strong>@agent.Id </li>
                <li class="list-group-item"><strong>Nom: </strong> @agent.Nom</li>
                <li class="list-group-item"><strong>Zone: </strong>@agent.Zone </li>
                <!--... SECTION ROBOT  -->
               
            </ul>
        </div>
    }
</div>